<h4>Drop Down</h4>
<pre data-sly-test="${properties.dropdownhide == 'phonenumber' && properties.phonenumber}">Phone Number: ${properties.phonenumber}</pre>
<pre data-sly-test="${properties.dropdownhide == 'address' && properties.state}">Street: ${properties.state}</pre>
<pre data-sly-test="${properties.dropdownhide == 'address' && properties.city}">City: ${properties.city}</pre>
<pre data-sly-test="${properties.dropdownhide == 'address' && properties.street}">State: ${properties.street}</pre>
<pre data-sly-test="${properties.dropdownhide == 'gender' && properties.radio}">Gender: ${properties.radio}</pre>
<pre data-sly-test="${properties.dropdownhide == 'languages' && properties.english}">Language: ${properties.english}</pre>
<pre data-sly-test="${properties.dropdownhide == 'languages' && properties.marathi}">Language: ${properties.marathi}</pre>
<pre data-sly-test="${properties.dropdownhide == 'languages' && properties.hindi}">Language: ${properties.hindi}</pre>