<sly data-sly-use.portfolioteaser="com.ugam.core.models.PortfolioTeaser"></sly>

<section class="portfolio-area section-gap" id="portfolio" style="padding-top: 25px; padding-bottom: 25px">
    <div class="filters-content">
        <div class="">
            <div class="single-portfolio all vector">
                <div class="relative" style="padding-left: 15px; padding-right: 15px">
                    <div class="thumb">
                        <div class="overlay overlay-bg"></div>
                        <img class="image img-fluid" src="${properties.fileReference}" alt="">
                    </div>
                    <a href="${properties.fileReference}" class="img-pop-up">
                        <div class="middle">
                            <div class="text align-self-center d-flex"><img src="${properties.previewReference}" alt=""></div>
                        </div>
                    </a>
                </div>
                <div class="p-inner">
                    <h4>${portfolioteaser.title}</h4>
                    <div class="cat">${portfolioteaser.text}</div>
                </div>
            </div>
        </div>
    </div>
</section>