<div data-sly-use.testimonial="com.ugam.core.models.Testimonial"></div>

<section class="testimonial-area section-gap">
    <div class="container">
        <div class="row">
            <div class="active-testimonial">
                <div class="single-testimonial item d-flex flex-row">
                    <div class="thumb">
                        <img class="img-fluid" src="img/elements/user1.png" alt="">
                    </div>
                    <div class="desc">
                        <p>${testimonial.description}</p>
                        <h4>${testimonial.name}</h4>
                        <p>${testimonial.title}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>